# build
dist/
build/
*.egg-info/

# jupyter
examples/.ipynb_checkpoints/

# testing
.vscode/
.pytest_cache/
.coverage
htmlcov/

# etc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv/