project:
  type: website
  output-dir: _site

execute:
  freeze: auto

website:
  sidebar:
    style: "docked"
    search: true
    contents:
      - text: "Pyseter"
        href: index.qmd
      - text: Getting started
        file: getting-started.qmd
      - section: "Installation"
        contents:
          - text: Users new to Python
            file: install-r.qmd
          - text: Python users
            file: install.qmd
      - section: "Examples"
        contents:
          - text: Predicting IDs
            file: identify.qmd
          - text: Evaluating *AnyDorsal*
            file: evaluate.qmd
      - section: "Experimental"
        contents:
          - text: Identify App
            file: app.qmd
      - api/index.qmd

format:
  html:
    theme: 
      light: flatly
      dark: darkly
    toc: true
    code-copy: true
    code-fold: false

quartodoc:
  style: pkgdown  # or "single-page"
  dir: api
  package: pyseter
  title: API Reference
  sections:

    - title: Feature Extraction
      desc: Extracting feature vectors from images
      contents:
        - extract.FeatureExtractor

    - title: Identify
      desc: Predicting IDs in a query set with a reference set
      contents:
        - identify.predict_ids

    - title: Sorting and Clustering
      desc: Clustering images by proposed IDs
      contents:
        - sort.HierarchicalCluster
        - sort.NetworkCluster
        - sort.ClusterResults
        - sort.prep_images
        - sort.sort_images
        - sort.load_features
    
    - title: Grading
      desc: Grade images by distinctiveness
      contents:
        - grade.rate_distinctiveness

    - title: Verifying Installation
      desc: Functions to make sure PyTorch is working
      contents:
        - get_best_device
        - verify_pytorch